<h2><strong>Địa chỉ IP: {{ ansible_default_ipv4.address }}</strong></h2>
<div>
<blockquote><span>Số lượng CPU: {{ ansible_processor_vcpus }}</span></blockquote>
</div>
<div>
<blockquote><span>Hypervisor: {{ ansible_virtualization_type }} {{ ansible_product_version }}</span></blockquote>
</div>
<div>
<blockquote><span>Phiên bản hệ điều hành: {{ ansible_distribution_version }}</span></blockquote>
</div>
<div>
<blockquote><span>Kernel: {{ ansible_kernel }} {{ ansible_kernel_version }}</span></blockquote>
</div>