Địa chỉ IP: {{ ansible_default_ipv4.address }}
Số lượng CPU: {{ ansible_processor_vcpus }}
Hypervisor: {{ ansible_virtualization_type }} {{ ansible_product_version }}
Phiên bản hệ điều hành: {{ ansible_distribution_version }}
Kernel: {{ ansible_kernel }} {{ ansible_kernel_version }}

